#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [3]:
data = pd.read_csv('ttest_machine.txt', sep=' ')
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [4]:
display(data['New_machine'].mean())
display(data['Old_machine'].mean())

42.14

43.230000000000004

In [ ]:
# Your code here:

In [ ]:
# H0 = new faster old
# H1 = old not faster new

In [7]:
#for the single tailed experiment
print('p value (single tailed): ',st.ttest_1samp(data['New_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

In [ ]:
# reject h0

In [5]:
st.ttest_1samp(data['New_machine'],43.23)

Ttest_1sampResult(statistic=-5.043318535038297, pvalue=0.0006966376076759338)

In [ ]:
# reject h0

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [9]:
# Your code here:
pokemon = pd.read_csv('pokemon.txt')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [14]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    for x in features:
        y = st.ttest_ind(s1[x], s2[x], equal_var=False)
        z = y[1]
        results.update({x:z})
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [18]:
# Your code here
legendary = pokemon[pokemon['Legendary']==True].sample(30)
nonleg = pokemon[pokemon['Legendary']==False].sample(30)
t_test_features(legendary,nonleg)

{'HP': 4.7142984815756126e-08,
 'Attack': 7.39786984709089e-09,
 'Defense': 0.0012491193481659925,
 'Sp. Atk': 2.9785145453926696e-12,
 'Sp. Def': 1.317398314597036e-07,
 'Speed': 5.159663685914816e-09,
 'Total': 7.875408091394678e-15}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

The smaller the p-value, the stronger the evidence that you should reject the null hypothesis. 
A p-value less than 0.05 (typically ≤ 0.05) is statistically significant. 
It indicates strong evidence against the null hypothesis, 
as there is less than a 5% probability the null is correct (and the results are random).

In [19]:
# Your comment here
# smaller p value here is stronger evidence they are different
# there is a significant difference between legendary and non legendary

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [17]:
# Your code here
g1 = pokemon[pokemon['Generation']==1].sample(30)
g2 = pokemon[pokemon['Generation']==2].sample(30)
t_test_features(g1,g2)

{'HP': 0.4899318567890468,
 'Attack': 0.20266879063987694,
 'Defense': 0.4178761224795744,
 'Sp. Atk': 0.498773883827098,
 'Sp. Def': 0.8295564781800439,
 'Speed': 0.567100031423963,
 'Total': 0.441478886969084}

#### What conclusions can you make?

In [ ]:
# Your comment here
# there is not a significant difference between the features of generations

#### Compare pokemons who have single type vs those having two types.

In [23]:
# Your code here
def combo(value):
    type1 = value['Type 1'];
    type2 = value['Type 2']
    if str(type2) == 'nan':
        return int(1)
    else:
        return int(2)
    
pokemon['Combo Type'] = pokemon.apply(combo, axis=1)

In [24]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,2
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,2

In [25]:
onet = pokemon[pokemon['Combo Type']==1].sample(30)
twot = pokemon[pokemon['Combo Type']==2].sample(30)
t_test_features(onet,twot)

{'HP': 0.9607706850480722,
 'Attack': 0.4290421897346587,
 'Defense': 0.15152660983412372,
 'Sp. Atk': 0.29903633303424504,
 'Sp. Def': 0.7299224335719177,
 'Speed': 0.12317674711231416,
 'Total': 0.23196050949412517}

#### What conclusions can you make?

In [ ]:
# Your comment here
# pokemon with two types are better than one type

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [20]:
# Your code here
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [21]:
st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [22]:
# Your comment here
# there is a significant difference between attack and defence on all poke 

# there is no significant difference in spatck and spdef on all poke